# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log

# Virtual environment
venv/
env/
.venv/

# Databases
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Build files
dist/
build/
*.spec
